.item-add-form {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 1rem 0 0 0;
}
.item-add-form .item-add-form-button {
    display: block;
    margin: 0 0 0 auto
}
.item-add-form .item-add-form-name {
    display: block;
    flex: 1;
    margin-right: calc(.75rem + 3px);  
}